// AdminLte
@import "~admin-lte/plugins/fontawesome-free/css/all.css";
@import "~admin-lte/dist/css/adminlte.css";
@import "~selectize/dist/css/selectize.css";

.user_filter {
    display: inline-flex;
    width: 100%;
    align-items: center;
}
.user_filter .selectize-control{
    width: 20%;
    margin-right: 10px;
}
.users .logo{
    width: 100px;
}
.search {
    max-width: 200px;
}
.form-control{
    height: calc(2.25rem);
}
#photo{
    max-width: 100px;
}
.preload {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    background: rgb(255 255 255 / 41%);
    display: none;
}
.preload .spinner-border {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
